@*
@page "/fetchdata"
$1$ This is a template for administrator adding a new client to the database .#1#
<PageTitle>Weather forecast</PageTitle>

@using BlazorProject.Data
@using global::Data.Models
@using global::Data.Services
@using Task = System.Threading.Tasks.Task
@inject AddClientService Clients

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ContactName</th>
                <th>Login</th>
                <th>Password</th>
                <th>Tfl</th>
                <th>CityAddress</th>
                <th>Street</th>
                <th>HouseNr</th>
                <th>FeeMultiplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.ContactName</td>
                     <th>@client.Login</th>
                     <th>@client.Password</th>
                     <th>@client.Tlf</th>
                     <th>@client.CityAddress</th>
                     <th>@client.Street</th>
                     <th>@client.HouseNr</th>
                     <th>@client.FeeMultiplier</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Client> clients;

    protected override async Task OnInitializedAsync()
    {
        clients = Clients.AddClientViaDapper();
    }
}
*@
